<h1 class="header-title">
  <span class="js-issue-title">{{ issue.title }}</span>
  <span class="header-number">#{{ issue.number }}</span>
</h1>

<div class="issue">
  <img src="{{ issue.user.avatar_url }}" width="50" height="50" />

  <section>
    <header class="issue-head">
      <a href="{{ issue.user.url }}">
        <strong>{{ issue.user.login }}</strong>
      </a>
      commented {{ issue.created_at | date }}

    </header>

    <article class="issue-body">
      {{ issue.body }}
    </article>
  </section>

  <section class="issue-comments">
    <article ng-if="comments.length" ng-repeat="comment in comments" class="comment">
      <img src="{{ comment.user.avatar_url }}" width="50" height="50" />

      <section>
        <header class="comment-head">
          <a href="{{ issue.user.url }}">
            <strong>{{ comment.user.login }}</strong>
          </a>
          commented {{ comment.created_at | date }}

        </header>
        <article class="comment-body">
          {{ comment.body }}
        </article>
      </section>
    </article>

  </section>

</div>
<!--
 -->
